body { 
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    margin: 0;
    padding: 0;
}

div#contenedor {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    overflow: hidden;
}

header {
    padding: 20px;
    background: #222;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos */
    gap: 20px; /* Espaciado entre los elementos */
}

header a, header a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
} 

header a:hover {
    color: #ff9966;
    text-decoration: underline;
} 

nav {
    padding: 15px;
    width: 200px;
    height: auto;
    background: #444;
    color: white;
    float: left;
    border-radius: 10px;
}

nav a, nav a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
} 

nav a:hover {
    background: #ff5e62;
    border-radius: 5px;
} 

aside {
    padding: 15px;
    float: right;
    width: 200px;
    background: #eee;
    border-radius: 10px;
}

main {
    padding: 20px;
    min-height: 600px;
    width: calc(100% - 450px);
    float: left;
    background: white;
    border-radius: 10px;
}

footer {
    clear: both;
    padding: 20px;
    background: #222;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

div.saludo {
    width: auto;
    text-align: right;
    padding-right: 20px;
    font-size: 10px;
}

fieldset {
    border: 1px solid #ff5e62;
    width: 80%;
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.submit-register{
    text-align: center;
    margin-top: 30px;
}

.pagar{
    text-align: center;
    margin-top: 30px;
}

.boton_pagar{
    text-align: center;
    margin-top: 30px;
}

legend {
    color: white;
    background: #ff5e62;
    border-radius: 5px;
    padding: 5px 10px;
} 

label {
    width: auto;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

button {
    background: #ff5e62;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
} 

button:hover {
    background: #ff9966;
}

img.logo1 {
    width: 50px; /* Ajusta el tamaño según lo que necesites */
    height: auto; /* Mantiene la proporción */
}

h1{
	flex-grow: 1; /* Hace que el título ocupe el espacio central */
    text-align: center;
    font-size: 36px;
    color: #ff5e62;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

}

hr.separador {
    border: none;
    height: 4px;
    background: #ff5e62; /* Color de la línea */
    margin: 10px 0;
}

/*Para mostrar los eventos*/
.eventos, .artistas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.evento, .artista {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
}

.evento-img {
    width: 180px;
    height: 180px;
    object-fit: cover; 
    border-radius: 8px; 
    margin-right: 20px;
}

.evento-info {
    flex: 1;
    padding-left: 30px;
}


.evento-titulo {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.evento-descripcion {
    font-size: 1em;
    color: #444;
}

.evento-fecha {
    font-size: 1em;
    color: #777;
    margin-top: 10px;
}

.evento-boton {
    display: inline-block;
    padding: 8px 12px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.evento-boton:hover {
    background: #0056b3;
}

.evento-img img {
    width: 180px;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
  }

.redes-sociales img {
    width: 40px;
}
.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    width: 60px; 
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.search-input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.boton_compra button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.advertencia {
    color: #d9534f;
    font-weight: bold;
    margin-top: 1em;
  }
  
  