/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #4a90e2, #50e3c2);
    color: #F0F0F0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Contenedor principal */
h1, h2, h3 {
    color: #FFFFFF; /* Texto blanco para mayor contraste */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para mejor visibilidad */
}

h1 {
    font-size: 3em;
}


h2 {
    font-size: 2em;
    margin-top: 50px;
    border-bottom: 2px solid #FFD700; /* Amarillo dorado para destacar */
    display: inline-block;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.5em;
    color: #D6F1FF; /* Azul pastel para suavidad */
}

/* Párrafos */
p {
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
    margin: 10px auto 30px auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4); /* Fondo oscuro transparente */
    border-radius: 10px;
    color: #F0F0F0; /* Gris claro para mejor contraste */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Enlaces */
a {
    text-decoration: none;
    color: #00FFFF; /* Cian brillante para destacar */
    font-weight: bold;
}

a:hover {
    color: #FFA07A; /* Naranja pastel al pasar el mouse */
}

/* Imágenes */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.indice {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.indice li {
    margin: 10px;
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nombres {
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    list-style-type: none;
}

.nombres li {
    font-size: 1.5em;
    color: #D6F1FF;
    padding: 10px;
}