<div class="container">
    <h1><%= artista.nombreArtistico %></h1>

    <p>Nombre artístico: <%= artista.nombreArtistico %></p>
    <p>Nombre: <%= artista.nombre %></p>
    <p><%= artista.biografia %></p>

    <!--Poner eventos a los que va (cuando este hecho acude a)-->
</div>