<h1>Contacto</h1>
    <p>Bienvenido al formulario de contacto de Ezvents, aquí podrás comunicarnos tus sugerencias, críticas y evaluarnos. ¡Tu opinión es importante!</p>
    <p>Rellene el siguiente formulario:</p>

    <form action="mailto:lmarti42@ucm.es" method="POST">
        <fieldset>
            <legend>Datos del formulario:</legend>

            <!--Nombre del usuario-->
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" name="nombre" value="" />
            
            <!--direccion email-->
            <p>
            <label for="email">Dirección de email de contacto:</label>
            <input id="email" type="text" name="email" value="" />
            </p>

            <!--radio buttons-->
            <p>Motivo de la consulta</p>
            <label><input type="radio" name="motivo" value="evaluacion" checked />Evaluación</label> <!--Marcar como "checked" para que se envíe con uno por defecto (vale required?)-->
            <label><input type="radio" name="motivo" value="sugerencias" />Sugerencias</label>
            <label><input type="radio" name="motivo" value="criticas" />Críticas</label>

            <!--checkbox-->
            <p>
            <input name="terminos" type="checkbox" value="marcado"/>
            Marque esta casilla para verificar que ha leído nuestros términos y condiciones del servicio.
            </p>

            <!--cuadro de texto para la consulta -->
            <p>
            <label for="consulta">Escriba lo que quiera comunicarnos en el siguiente cuadro de texto:</label>
            </p>
            <textarea name="consulta" rows="4" cols="50">
                
            </textarea>

            <!--Botón para enviar el formulario-->
            <p>
            <input type="submit" name="enviar" value="Enviar"/>
            </p>

            <!--Botón para ressetear los datos del formulario-->
            <p>
            <input type="reset" name="borrar" value="Borrar datos"/>
            </p>

            <!--<label for="consulta">Consulta:</label>
            <input id="consulta" type="text" name="consulta" value=""/>-->
        </fieldset>
    </form>
    <p>Haga click <a href="/vistas/paginas/index.ejs">aquí</a> para volver a la página de inicio.</p>