<% if (session && session.esEmpresa) { %>
    <h1>Bienvenido a la Consola de Empresa</h1>
    <p>Aquí podras añadir nuevos eventos con sus respectivas caracteristicas, atrayendo la atencion de los usuarios.</p>
<% } else { %>
    <h1>Acceso Denegado</h1>
    <p>No tienes permisos para administrar la web.</p>
<% } %>