<h2>Próximos Eventos</h2>
<div class="eventos">
    <% if (eventos && eventos.length > 0) { %>
        <% eventos.forEach(evento => { %>
            <div class="evento">
                <img src="/static/uploads/<%= evento.imagen %>" alt="Imagen de <%= evento.nombre %>">
                <h3><%= evento.nombre %></h3>
                <p><%= evento.descripcion %></p>
            </div>
        <% }) %>
    <% } else { %>
        <p>No hay eventos disponibles.</p>
    <% } %>
</div>
