<h2>Acceso al sistema</h2>
<% if (locals.error) { %>
  <div class="error-message">
    <p>
      <%= error %>
    </p>
  </div>
<% } %>

    <form action="/usuarios/login" method="POST">
      <fieldset>
        <legend>Usuario y contraseña</legend>
        <label for="username">Nombre:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Enviar</button>
      </fieldset>
    </form>