<% if(session.login) { %>
    <h1>Nuevas filtraciones de la Nintendo Switch 2 revelan posibles juegos en desarrollo</h1>
    <p>Según fuentes no oficiales la compañía japonesa Nintendo está trabajando en una gran lista de títulos que acompañarán el lanzamiento de su nueva consola.</p>
    <p>Entre estos juegos se encuentran secuelas muy esperadas como The Legend of Zelda: Breath of the Wild 2 y Super Mario Odyssey 2, ambos con avances que aprovecharían al máximo las mejoras gráficas de la Nintendo Switch 2.</p>
    <p>Aún no hay confirmaciones oficiales, pero todo apunta a que Nintendo busca ofrecer títulos exclusivos para mantener su relevancia en el mercado de consolas.</p>
<% }else {%>
    <h1>Nuevas filtraciones de la Nintendo Switch 2 revelan posibles juegos en desarrollo</h1>
    <p>Según fuentes no oficiales la compañía japonesa Nintendo está trabajando en una gran lista de títulos que acompañarán el lanzamiento de su nueva consola.</p>
    <p>Para acceder al contenido completo, por favor <a href="/paginas/login">inicia sesión</a></p>
<%}%>