<h1>Crear cuenta</h1>

<% if (error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>

<form action="/usuarios/register" method="POST">
    <fieldset>
        <legend>Datos a rellenar:</legend>

        <div><label>Nombre:</label> <input type="text" name="nombre" required/></div>
        <div><label>Apellidos:</label> <input type="text" name="apellidos" required/></div>
        <div><label>Email:</label> <input type="text" name="email" required  pattern=".+@(gmail\.com|ucm\.es)" title="El email debe ser válido"/></div>
        <div><label>Usuario:</label> <input type="text" name="username" required/></div>
        <div><label>Contraseña:</label> <input type="password" name="password" required/></div>

        <div>
            <label for="rol">Tipo de cuenta:</label>
            <select name="rol" id="rol" required>
                <option value="usuario">Usuario</option>
                <option value="empresa">Empresa</option>
                <option value="administrador">Administrador</option>
            </select>
        </div>

        <!--checkbox-->
        <p>
        <input name="terminos" type="checkbox" value="marcado"/>
        Marque esta casilla para verificar que ha leído nuestros términos y condiciones del servicio.
        </p>
            
        </textarea>

        <!--Botón para enviar el formulario-->
        <p>
        <input type="submit" name="enviar" value="Enviar"/>
        </p>

        <!--Botón para ressetear los datos del formulario-->
        <p>
        <input type="reset" name="borrar" value="Borrar datos"/>
        </p>

        <!--<label for="consulta">Consulta:</label>
        <input id="consulta" type="text" name="consulta" value=""/>-->
    </fieldset>
</form>