<!-- Imagen principal del evento -->
<img src="./img/image1.png" alt="EZVENTS Logo">
<h1>EZVENTS</h1>

<div class="saludo">
<% if(session && session.login) { %>
    Hola, <%=session.nombre%> | <a href='/usuarios/logout'>Cerrar sesion</a>
<% } else { %>
    Usuario desconocido. <a href='/usuarios/login'>Login</a>
<% } %>
</div>


    <% if(session && session.esAdmin) { %>
        <a href='creaNoticias.ejs'>Crear noticia</a> | <button onclick =  "window.location.href='creaEventos'">Crear Evento<!--<img src="./img/antonio.jpeg" alt="Eventos">--></button>
    <% } else if(session && !session.esAdmin){ %>
        <a href='/carrito'><img src="/static/img/antonio.jpeg" alt="Carrito"></a>
    <% } %>


<nav>
    <a href="/">Inicio</a>
    <a href="/eventos">Eventos</a>
    <a href="/noticias">Noticias</a>
    <a href="/puntos">Puntos</a>
    <a href="/foro">Foro</a>
</nav>