<!-- Imagen principal del evento -->
<header>
    <a href="/"><img src="/img/image1.png" alt="EZVENTS Logo" class="logo1"></a>

    <h1>EZVENTS</h1>

    <div class="saludo">
        <% if (locals.session && locals.session.login) { %>
            Hola, <%= session.nombre %> | <a href='/usuarios/logout'>Cerrar sesión</a>
            <% if (locals.session.esEmpresa) { %>
                <a href="paginas/empresa.ejs" class="boton-anadir">Añadir Evento</a>
            <% } %>
        <% } else if (locals.session.esAdmin) { %>
            <a href="paginas/admin.ejs" class="boton-anadir">Consola Admin</a>
        <% } else { %>
            <a href="/vistas/paginas/carrito"><img src="./img/carrito.jpg" alt="Carrito" class="logo1"></a>
            <button onclick="window.location.href='/usuarios/login'">Acceder</button>
        <% } %>
    </div>

</header>

<hr class="separador">

<nav>
    <a href="/">Inicio</a>
    <a href="/noticias">Noticias</a>
    <a href="/puntos">Puntos</a>
    <a href="/foro">Foro</a>
</nav>
