<!-- Imagen principal del evento -->
<header>
    <a href="/"><img src="/img/image1.png" alt="EZVENTS Logo" class="logo1"></a>

    <h1>EZVENTS</h1>

    <div class="saludo">
        <% if (session && session.login) { %>
            Hola, <%= session.nombre %> | <a href='/usuarios/logout'>Cerrar sesión</a>
            <% if (session.esEmpresa) { %>
                <a href="/paginas/empresa" class="boton-anadir">Añadir Evento</a>
            <% } %>
        <% } else { %> <!-- En este caso, si el usuario no ha iniciado sesión -->
            <% if (session && session.esAdmin) { %> <!-- Verificar si es admin -->
                <a href="" class="boton-anadir">Consola Admin</a>
            <% } %>
            <a href="/carrito/carrito">
                <img src="/static/img/carrito.jpg" alt="Carrito" class="logo1">
            </a>
            
            <button onclick="window.location.href='/usuarios/login'">Acceder</button>
        <% } %>
    </div>
</header>

<hr class="separador">

<nav>
    <a href="/">Inicio</a>
    <a href="/noticias">Noticias</a>
    <a href="/puntos">Puntos</a>
    <a href="/foro">Foro</a>
</nav>

<!-- Formulario de búsqueda -->
<form action="/eventos/buscarEvento" method="GET" class="buscar-evento">
    <input type="text" name="nombre" placeholder="Buscar evento..." required>
    <button type="submit">Buscar</button>
</form>
