<!-- Imagen principal del evento -->
<img src="/static/img/image1.png" alt="EZVENTS Logo">
<h1>EZVENTS</h1>

<div class="saludo">
<% if(session && session.login) { %>
    Hola, <%=session.nombre%> | <a href='/usuarios/logout'>Cerrar sesion</a>
    <% if (session.rol === 'usuario') { %>
        <a href="/vistas/paginas/carrito"><img src="/static/carrito.jpg" alt="Carrito" class="icono-carrito"></a>
    <% } %>
    <% if (session.rol === 'admin' || session.rol === 'empresa') { %>
        <a href="/vistas/paginas/añadirEvento" class="boton-anadir">Añadir Evento</a>
    <% } %>
<% } else { %>
    Usuario desconocido. <a href='/usuarios/login'>Login</a>
<% } %>
</div>

<nav>
    <a href="/">Inicio</a>
    <a href="/eventos">Eventos</a>
    <a href="/noticias">Noticias</a>
    <a href="/puntos">Puntos</a>
    <a href="/foro">Foro</a>
</nav>