<footer>
    <div class="redes-sociales">
        <a href="https://instagram.com/ezvents2025" target="_blank">
            <img src="./imag/instagram.png" alt="Instagram">
        </a>
        <a href="https://twitter.com/ezvents2025" target="_blank">
            <img src="./imag/twitter.png" alt="Twitter">
        </a>
    </div>
    <h3>Telefono de Contacto:</h3>
    <p>9999123919</p>
    <!--<button onclick="window.location.href='/vistas/paginas/contacto.ejs'">Contactar por correo</button>-->
    <button onclick="window.location.href='/contacto'">Contactar por correo</button>
</footer>