<footer>
    <div class="redes-sociales">
        <a href="https://www.instagram.com/ezvents2025/" target="_blank">
            <img src="/img/instagram.png" alt="Instagram" style="width: 30px; height: auto;">
        </a>
        <a href="https://twitter.com/ezvents2025" target="_blank">
            <img src="/img/twitter.png" alt="Twitter" style="width: 30px; height: auto;">
        </a>
    </div>
</footer>