<footer>
    <div class="redes-sociales">
        <a href="https://instagram.com/ezvents2025" target="_blank">
            <img src="/img/instagram.png" alt="Instagram" style="width: 30px; height: auto;">
        </a>
        <a href="https://twitter.com/ezvents2025" target="_blank">
            <img src="/img/twitter.png" alt="Twitter" style="width: 30px; height: auto;">
        </a>
    </div>
    <h3>Telefono de Contacto:</h3>
    <p>9999123919</p>
    <!--<button onclick="window.location.href='/vistas/paginas/contacto.ejs'">Contactar por correo</button>-->
    <button onclick="window.location.href='/contacto'">Contactar por correo</button>
</footer>