<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <header>
        <h1>Resultados de Búsqueda</h1>
    </header>
    <div>
        <% if (eventos.length > 0) { %>
            <ul>
                <% eventos.forEach(evento => { %>
                    <li>
                        <a href="/eventos/<%= evento.id %>"><%= evento.nombre %></a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No se encontraron eventos que coincidan con tu búsqueda.</p>
        <% } %>
    </div>
    <a href="/eventos">Volver a la lista de eventos</a>
</body>
</html>
